<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gnani.voiceauth">

    <application>
        <receiver
            android:name=".broadcast.VoiceReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <service
            android:name=".services.VoiceService"
            android:exported="false" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

</manifest>